body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Mantendo a paleta de cores leve */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4B67A1; /* Azul do cabeçalho */
    padding: 20px;
    text-align: center;
    color: white;
}

.logo {
    font-size: 2em;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: white;
    color: #336699; /* Cor do texto dos botões */
    border: none;
    cursor: pointer;
}

nav button:hover {
    background-color: #ddd;
}

.intro {
    text-align: center;
    margin: 20px 0;
}

.esportes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.esporte {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
}

.esporte img {
    width: 100%;
    height: auto;
}

.esporte h2 {
    color: #336699; /* Cor dos títulos */
    margin: 10px 0;
}

.esporte p {
    padding: 0 10px 10px;
}

.imc {
    text-align: center;
    margin: 20px 0;
}

form {
    display: inline-block;
    text-align: left;
}

label, input {
    display: block;
    margin: 10px 0;
}

button[type="button"] {
    background-color: #336699; /* Botão de cálculo */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #285580;
}
